<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<title>Rent Property</title>
	<link rel="shortcut icon" href="/static/media/favicon.png">
	<link rel="stylesheet" type="text/css" href="/static/style/404.css">
</head>
<body>

<video src="/static/media/background.mp4" id="vdo" autoplay muted loop></video>

<div id="content">
	<p id="tt">Page not found</p>
	<p style="text-align: center;">
		<a href="/" style="text-decoration: none;font-size: 20px;color: black;">Home</a>
	</p>
</div>

</body>
</html>